src/main/resources/Scheduer-Request.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ISchedulerRequestService"
	targetNamespace="http://researchnow.com/schema/panel/v1" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:icc="http://researchnow.com/schema/icc" xmlns:tns="http://researchnow.com/schema/panel/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://researchnow.com/schema/panel/v1"
			xmlns="http://researchnow.com/schema/panel/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="SchedulerExtractRequest">
				<xs:sequence>
					<xs:element form="qualified" name="interfaceId" type="xs:string" />
					<xs:element form="qualified" name="RequestDataList">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="RequestData"
									type="RequestData" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RequestData">
				<xs:sequence>
					<xs:element minOccurs="0" name="transactionType" type="xs:string" />
					<xs:element minOccurs="0" name="transactionDetail" type="xs:string" />
					<xs:element name="panelId" type="xs:string" />
					<xs:element minOccurs="0" name="locale" type="xs:string" />
					<xs:element minOccurs="0" name="accountingItemId" type="xs:string" />
					<xs:element name="startDate" type="xs:dateTime" />
					<xs:element name="endDate" type="xs:dateTime" />
					<xs:element name="reportDate" type="xs:date" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="SchedulerExtractRequest" nillable="true"
				type="SchedulerExtractRequest" />
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://researchnow.com/schema/icc" xmlns="http://researchnow.com/schema/icc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageHeader">
    <xs:sequence>
      <xs:element name="headerVersion" type="xs:string"></xs:element>
      <xs:element name="serviceFunctionalArea" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="serviceInstance" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="messageName" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="messageVersion" type="xs:string"></xs:element>
      <xs:element name="trackingId" type="xs:string"></xs:element>
      <xs:element name="originationTimestamp" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="locale" type="xs:string"></xs:element>
      <xs:element name="sourceProgram" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="endUserId" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="replyUrl" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageHeader" nillable="true" type="MessageHeader"></xs:element>
</xs:schema>
	</wsdl:types>
	<wsdl:message name="processExtractRequest">
		<wsdl:part element="icc:MessageHeader" name="MessageHeader">
    </wsdl:part>
		<wsdl:part element="tns:SchedulerExtractRequest" name="SchedulerExtractRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ISchedulerRequest">
		<wsdl:operation name="processExtractRequest">
			<wsdl:input message="tns:processExtractRequest" name="processExtractRequest">
			</wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ISchedulerRequestServiceSoapBinding"
		type="tns:ISchedulerRequest">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="processExtractRequest">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="processExtractRequest">
				<soap:header message="tns:processExtractRequest" part="MessageHeader" use="literal">
        </soap:header>
        <soap:body parts="SchedulerExtractRequest" use="literal"></soap:body>
	       	</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ISchedulerRequestService">
		<wsdl:port binding="tns:ISchedulerRequestServiceSoapBinding"
			name="ISchedulerRequestPort">
			<soap:address location="http://localhost:63007/panel/processPanelExtract/1.0" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
